/*/POLICES/*/
@font-face {
  font-family: 'Shrikhand';
  src: url(images/shrikhand/Shrikhand-Regular.otf) format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url(images/roboto/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto-Thin';
  src: url(images/roboto/Roboto-Thin.ttf) format("truetype"); }

/*/ VARIABLES /*/
/*/ MIXINS /*/
body {
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-top: 0%; }

header {
  width: 100%;
  height: 60px; }
  header img {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%; }

/*/ ACCUEIL /*/
.search_barre {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #e5e5e5;
  width: 100%;
  height: 50px; }
  .search_barre form {
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex; }
  .search_barre input {
    background-color: transparent;
    border: none;
    color: black; }

.describe {
  background-color: #f4f4f4;
  height: 270px;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .describe h1 {
    margin-top: 0%;
    padding-top: 10%;
    width: 60%;
    margin-right: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto'; }
  .describe h2 {
    font-size: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-family: 'Roboto-Thin';
    font-weight: lighter; }
  .describe .button-title {
    margin-top: 10%;
    height: 40px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    background: linear-gradient(0deg, #9356DC, #E054D2);
    border-radius: 50px;
    box-shadow: 5px 5px 2px #e5e5e5;
    cursor: pointer; }

.menu {
  width: 100%; }
  .menu h1 {
    margin-left: 5%; }
  .menu .service-item {
    display: flex;
    margin-left: 5%;
    width: 90%;
    height: 80px;
    background-color: #f4f4f4;
    margin-bottom: 5%;
    border-radius: 25px;
    align-items: center;
    box-shadow: 3px 5px 5px #e5e5e5;
    cursor: pointer; }
    .menu .service-item .service-icon {
      color: #6b6b6b;
      margin-right: 10%;
      font-size: 110%; }
    .menu .service-item .num {
      background-color: #9356DC;
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9%;
      height: 40%;
      border-radius: 100%;
      margin-left: -4%;
      margin-right: 10%; }
    .menu .service-item .service-text {
      font-family: 'Roboto';
      font-size: 110%;
      font-weight: bold; }

.service-item:hover > .service-icon {
  color: #9356DC; }

.service-item:hover {
  background-color: #F2E7FF; }

.restaurants {
  background-color: #f4f4f4;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column; }
  .restaurants h1 {
    margin-left: 5%; }
  .restaurants .restaurant-descritption {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    margin-top: 0%; }
  .restaurants .New {
    color: #146C46;
    background-color: #8ADDC5;
    width: 25%;
    display: flex;
    justify-content: center;
    margin-left: 75%; }

.restaurants-details {
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: column; }
  .restaurants-details .pic1 {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    height: 40%;
    width: 90%;
    border-radius: 10px 10px 0px 0px; }
  .restaurants-details .pic2 {
    background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    height: 40%;
    width: 90%;
    border-radius: 10px 10px 0px 0px; }
  .restaurants-details .pic3 {
    background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    height: 40%;
    width: 90%;
    border-radius: 10px 10px 0px 0px; }
  .restaurants-details .pic4 {
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    height: 40%;
    width: 90%;
    border-radius: 10px 10px 0px 0px; }

.foot-page {
  background-color: #282828;
  width: 100%;
  height: 230px;
  color: white; }
  .foot-page .foot-title {
    margin-left: 5%;
    margin-top: 0%;
    padding-top: 5%; }
  .foot-page ul {
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    list-style-image: none;
    margin-left: -5%; }
  .foot-page a {
    list-style: none;
    text-decoration: none;
    color: white; }
  .foot-page .foot-icon {
    width: 90%;
    height: 30px;
    display: flex;
    margin-left: 5%;
    align-items: center; }
    .foot-page .foot-icon .icon {
      display: flex;
      align-items: center;
      width: 5%;
      margin-left: 5%; }
  .foot-page .list2 {
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 5%; }

.Menu {
  width: 100%;
  height: 1500px; }
  .Menu .restaurant-pic {
    width: 100%;
    height: 200px; }
  .Menu .pic1 {
    background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    height: 40%;
    width: 90%;
    border-radius: 10px 10px 0px 0px; }
  .Menu .restaurant-bloc {
    background-color: #f4f4f4; }
    .Menu .restaurant-bloc .restaurant-title {
      display: flex;
      align-items: center;
      margin-left: 5%;
      width: 95%;
      justify-content: space-around; }
    .Menu .restaurant-bloc .food-box {
      background-color: white;
      display: flex;
      margin-bottom: 5%;
      width: 90%;
      border-radius: 15px;
      margin-left: 5%;
      justify-content: space-between;
      align-items: center; }
    .Menu .restaurant-bloc .menu-button {
      margin-top: 10%;
      height: 40px;
      width: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
      color: white;
      background: linear-gradient(0deg, #9356DC, #E054D2);
      border-radius: 50px;
      box-shadow: 5px 5px 2px #e5e5e5;
      cursor: pointer;
      margin-bottom: 10%;
      margin-left: 25%; }
