/*/POLICES/*/
@use "../Sass/utiles/colors.scss";
@keyframes wish {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes check-spin {
  0% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(0); } }

@use "../Sass/utiles/colors.scss";
@keyframes wish {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes check-spin {
  0% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(0); } }

.filtre {
  width: 95%;
  margin-right: 5%;
  counter-reset: functions; }
  .filtre h2 {
    margin-left: 5%; }
  .filtre ol {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    padding: 0%; }
  .filtre li {
    margin-left: 5%;
    position: relative;
    list-style-type: none;
    background-color: #f4f4f4;
    padding: 1rem 2rem;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    height: 34px;
    width: 30%;
    transform: scale(1);
    transition: 2s;
    box-shadow: 5px 5px 2px #e5e5e5;
    cursor: pointer; }
    .filtre li::before {
      content: "" counter(functions);
      counter-increment: functions;
      color: white;
      background-color: #9356DC;
      display: grid;
      place-items: center;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      position: absolute;
      bottom: 1rem;
      left: -1rem; }
    .filtre li:hover {
      background-color: #F2E7FF;
      transform: scale(1.05); }
    .filtre li:hover > i {
      color: #9356DC; }
    .filtre li i {
      margin-right: 10%;
      color: #6b6b6b; }

@media screen and (max-width: 768px) {
  .filtre ol {
    flex-direction: column; }
  .filtre li {
    font-size: 110%;
    width: 70%; } }

@use "../Sass/utiles/colors.scss";
@keyframes wish {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes check-spin {
  0% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(0); } }

@font-face {
  font-family: 'Shrikhand';
  src: url(images/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
  font-weight: normal; }

@media screen and (min-width: 320px) {
  .foot-page {
    background-color: #282828;
    width: 100%;
    height: 230px;
    color: white; }
    .foot-page h1 {
      margin-left: 5%;
      margin-top: 0%;
      padding-top: 2%;
      font-family: 'Shrikhand';
      font-style: italic; }
    .foot-page ul {
      list-style-type: none;
      text-decoration: none;
      list-style: none;
      list-style-image: none;
      margin-left: -5%; }
      .foot-page ul a {
        list-style: none;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif; }
  .foot-icon {
    width: 90%;
    height: 30px;
    display: flex;
    margin-left: 5%;
    align-items: center; }
    .foot-icon .icon {
      display: flex;
      align-items: center;
      width: 5%;
      margin-left: 5%; }
  .list2 {
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 5%; } }

@media screen and (min-width: 768px) {
  .foot-icon {
    margin-left: 0%; } }

@media screen and (min-width: 1440px) {
  .foot-page .foot-title {
    padding-top: 1%;
    margin-left: 5%; }
  .foot-icon {
    margin-left: 0%; }
  .list2 {
    margin-left: 7%; } }

@use "../Sass/utiles/colors.scss";
@keyframes wish {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes check-spin {
  0% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(0); } }

@font-face {
  font-family: 'Shrikhand';
  src: url(../images/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
  font-weight: bold; }

/*/Accueil/*/
@media screen and (min-width: 320px) {
  .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shrikhand';
    font-style: italic;
    font-size: 200%; }
    .header h2 {
      height: 100%;
      width: 100%;
      box-shadow: 0px 6px 11px #bababa;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .top-page {
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse; }
    .top-page h2 {
      font-family: 'Shrikhand';
      font-size: 250%;
      font-weight: bolder;
      font-style: italic;
      margin-right: -15%; }
  .search_barre {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    width: 100%;
    height: 50px; }
    .search_barre form {
      width: 50%;
      height: 100%;
      justify-content: space-around;
      display: flex;
      align-items: center; }
    .search_barre input {
      background-color: transparent;
      border: none;
      color: black;
      font-size: 120%; }
  .describe {
    background-color: #f4f4f4;
    height: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif; }
    .describe .first {
      margin-top: 0%;
      padding-top: 10%;
      display: flex;
      margin-left: 10%;
      margin-right: 10%;
      font-size: 150%;
      font-weight: bolder; }
    .describe h2 {
      font-size: 100%;
      margin-right: auto;
      margin-left: auto;
      display: block;
      font-weight: lighter; }
    .describe .button {
      width: 45%; }
      .describe .button .button-title {
        margin-top: 10%;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        background: linear-gradient(0deg, #9356DC, #E054D2);
        border-radius: 50px;
        box-shadow: 5px 5px 2px #e5e5e5;
        cursor: pointer; }
        .describe .button .button-title:hover {
          opacity: 0.8;
          box-shadow: 5px 5px 2px rgba(199, 199, 199, 0.79); } }

/*/Menu/*/
@media screen and (min-width: 320px) {
  .top-page .backM {
    text-decoration: none;
    color: black;
    margin-left: 5%; }
    .top-page .backM .fleche {
      font-size: 140%; } }

@media screen and (min-width: 375px) {
  .top-page h2 {
    margin-right: -5%; } }

@media screen and (min-width: 425px) {
  .top-page h2 {
    margin-right: 0%; } }

@media screen and (min-width: 768px) {
  .header {
    font-size: 250%; }
  .top-page {
    height: 150px;
    width: 100%; }
    .top-page h2 {
      margin-right: 39%; }
  .Espace-recherche {
    font-size: 130%;
    font-weight: bold; }
  .button {
    width: 100%;
    height: 100%;
    display: flex; }
    .button .button-title {
      width: 80%; }
  .describe .first {
    padding-top: 5%; } }

@media screen and (min-width: 1440px) {
  .top-page {
    height: 200px; }
    .top-page h2 {
      font-size: 500%; }
    .top-page .backM .fleche {
      font-size: 300%; }
  .search_barre {
    height: 100px;
    font-size: 200%; }
  .describe {
    height: 290px; }
    .describe h2 {
      font-size: 200%; }
    .describe .button .button-title {
      height: 50%;
      width: 75%;
      margin-top: 1%;
      font-size: 200%; }
    .describe .first {
      padding-top: 3%;
      font-size: 300%;
      margin-bottom: 0%; }
  .menu h1 {
    font-size: 200%; } }

@media screen and (min-width: 1920px) {
  .header {
    height: 200px;
    font-size: 300%; }
  .describe {
    height: 300px; }
    .describe .button .button-title {
      height: 60%;
      width: 55%; }
    .describe .first {
      padding-top: 2%; } }

@use "../Sass/utiles/colors.scss";
@keyframes wish {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes check-spin {
  0% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(0); } }

@media screen and (min-width: 320px) {
  .Menu {
    width: 100%;
    height: auto; }
    .Menu .restaurant-pic {
      width: 100%;
      height: 200px; }
    .Menu .Mpic1 {
      background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
      cursor: pointer; }
    .Menu .Mpic2 {
      background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
      cursor: pointer; }
    .Menu .Mpic3 {
      background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
      cursor: pointer; }
    .Menu .Mpic4 {
      background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 100%;
      cursor: pointer; }
    .Menu .restaurant-bloc {
      background-color: #f4f4f4;
      border-radius: 10px 10px 0px 0px;
      font-family: 'Roboto', sans-serif;
      height: auto;
      padding-bottom: 2%; }
      .Menu .restaurant-bloc:hover .menu-heart {
        opacity: 1;
        transform: scale(1.15); }
    .Menu .restaurant-title {
      display: flex;
      align-items: center;
      margin-left: 0%;
      width: 95%;
      justify-content: space-around;
      font-style: italic;
      font-weight: bolder;
      font-size: 120%;
      cursor: pointer;
      font-family: 'Shrikhand'; }
      .Menu .restaurant-title .heart {
        font-size: 120%; }
        .Menu .restaurant-title .heart .menu-like {
          margin-left: 20%;
          opacity: 1;
          transform: scale(1);
          transition-property: transform;
          transition-duration: 400ms; }
        .Menu .restaurant-title .heart .menu-heart {
          margin-left: -55%;
          color: transparent;
          background-image: linear-gradient(0deg, #E054D2, #9356DC);
          background-clip: text;
          -webkit-background-clip: text;
          opacity: 0;
          transform: scale(1);
          transition-property: transform;
          transition-duration: 400ms; }
      .Menu .restaurant-title:hover .menu-heart {
        opacity: 1;
        transform: scale(1.15); }
      .Menu .restaurant-title:hover .menu-like {
        opacity: 0;
        transform: scale(0);
        transition-property: transform; }
    .Menu .restaurant-menu {
      transition-property: transform;
      transition-duration: 1s;
      animation: appear 3s;
      transition-property: transform;
      transition-duration: 1s;
      animation: appear 3s;
      transition-property: transform;
      transition-duration: 1s;
      animation: appear 3s; }
      .Menu .restaurant-menu:nth-child(1) {
        animation-delay: 200ms; }
      .Menu .restaurant-menu:nth-child(2) {
        animation-delay: 400ms; }
      .Menu .restaurant-menu:nth-child(3) {
        animation-delay: 600ms; }
      .Menu .restaurant-menu .food-box {
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        margin-bottom: 5%;
        width: 90%;
        height: 90px;
        border-radius: 15px;
        margin-left: 5%;
        box-shadow: 5px 5px 2px #e5e5e5;
        cursor: pointer;
        overflow: hidden;
        align-items: flex-end; }
        .Menu .restaurant-menu .food-box .food-description {
          margin-left: 5%;
          width: 70%;
          margin-right: 0%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
        .Menu .restaurant-menu .food-box .food-name {
          font-weight: bold;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden; }
        .Menu .restaurant-menu .food-box .food-ingredients {
          text-overflow: ellipsis;
          overflow: hidden; }
        .Menu .restaurant-menu .food-box .food-price {
          font-weight: bold;
          margin-right: 5%;
          margin-left: auto;
          padding-bottom: 2%; }
        .Menu .restaurant-menu .food-box .check {
          display: grid;
          place-items: center;
          height: 100%;
          width: 5rem;
          background-color: #8ADDC5;
          border-radius: 0px 10px 10px 0px;
          justify-content: center;
          font-size: 130%;
          margin-right: -5rem;
          transition: 2s; }
          .Menu .restaurant-menu .food-box .check i {
            color: #8ADDC5;
            background-color: white;
            display: grid;
            place-items: center;
            height: 2rem;
            width: 2rem;
            border-radius: 1rem; }
        .Menu .restaurant-menu .food-box:hover .check {
          margin-right: 0rem; }
        .Menu .restaurant-menu .food-box:hover i {
          animation: check-spin 3s; }
    .Menu .plat-title {
      font-weight: lighter;
      text-transform: uppercase;
      margin-left: 5%;
      border-bottom: 4px #8ADDC5 solid;
      width: 15%; }
    .Menu .menu-button {
      margin-top: 10%;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: flex;
      color: white;
      background: linear-gradient(0deg, #9356DC, #E054D2);
      border-radius: 50px;
      box-shadow: 5px 5px 2px #e5e5e5;
      cursor: pointer;
      margin-bottom: 10%;
      margin-left: 15%;
      margin-right: 15%; }
      .Menu .menu-button:hover {
        opacity: 0.8; } }

@media screen and (min-width: 768px) {
  .Menu .menu-button {
    width: 40%;
    margin-left: 30%; }
  .restaurant-title h1 {
    font-size: 160%;
    margin-left: 15%; } }

@media screen and (min-width: 1440px) {
  .restaurant-title h1 {
    margin-left: 25%;
    font-size: 200%; }
  .restaurant-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "starter course dessert"; }
  .Menu .restaurant-bloc {
    padding-bottom: 0%; }
  .Menu .menu-button {
    height: 54px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 20%;
    margin-left: 40%; }
  .Menu .restaurant-pic {
    height: 300px; } }

@media screen and (min-width: 1920px) {
  .Menu .restaurant-menu {
    transition-property: transform;
    transition-duration: 1s;
    animation: appear 3s;
    transition-property: transform;
    transition-duration: 1s;
    animation: appear 3s;
    transition-property: transform;
    transition-duration: 1s;
    animation: appear 3s; }
    .Menu .restaurant-menu:nth-child(1) {
      animation-delay: 200ms; }
    .Menu .restaurant-menu:nth-child(2) {
      animation-delay: 400ms; }
    .Menu .restaurant-menu:nth-child(3) {
      animation-delay: 600ms; } }

@use "../Sass/utiles/colors.scss";
@keyframes wish {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes check-spin {
  0% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(0); } }

@media screen and (min-width: 320px) {
  .restaurants {
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; }
    .restaurants h2 {
      margin-left: 5%;
      font-family: 'Roboto', sans-serif; }
    .restaurants .restaurant-descritption {
      font-family: 'Robtot', sans-serif;
      background-color: white;
      width: 90%;
      display: flex;
      align-items: center;
      height: 25%;
      margin-top: 0%;
      margin-left: 5%;
      margin-bottom: 5%;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 5px 5px 2px #e5e5e5;
      cursor: pointer; }
      .restaurants .restaurant-descritption .restaurant-text {
        width: 70%;
        margin-left: 5%; }
        .restaurants .restaurant-descritption .restaurant-text .restaurant-name {
          font-weight: bold;
          margin-bottom: 2%;
          padding-top: 5%; }
        .restaurants .restaurant-descritption .restaurant-text .restaurant-loc {
          margin-top: 0%; }
  .New {
    color: #146C46;
    background-color: #8ADDC5;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70%;
    margin-top: 0%; }
  .restaurant-like {
    font-size: 150%;
    margin-left: 10%;
    opacity: 1;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms; }
  .restaurant-heart {
    font-size: 150%;
    margin-left: -6.5%;
    color: transparent;
    background-image: linear-gradient(0deg, #E054D2, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    border: white 2px solid; }
  .restaurant-link {
    text-decoration: none;
    color: black;
    margin-top: 0%; }
  .restaurants-details {
    min-width: 100%;
    display: flex;
    flex-direction: column; }
    .restaurants-details .pic1 {
      background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
      margin-left: 5%;
      background-size: cover;
      background-position: center;
      height: 180px;
      width: 90%;
      border-radius: 10px 10px 0px 0px;
      cursor: pointer;
      padding-top: 5%;
      box-shadow: 5px 5px 2px #e5e5e5; }
    .restaurants-details .pic2 {
      background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
      margin-left: 5%;
      background-size: cover;
      background-position: center;
      height: 180px;
      width: 90%;
      border-radius: 10px 10px 0px 0px;
      cursor: pointer;
      padding-top: 5%;
      box-shadow: 5px 5px 2px #e5e5e5; }
    .restaurants-details .pic3 {
      background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
      margin-left: 5%;
      background-size: cover;
      background-position: center;
      height: 180px;
      width: 90%;
      border-radius: 10px 10px 0px 0px;
      cursor: pointer;
      padding-top: 5%;
      box-shadow: 5px 5px 2px #e5e5e5; }
    .restaurants-details .pic4 {
      background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
      margin-left: 5%;
      background-size: cover;
      background-position: center;
      height: 180px;
      width: 90%;
      border-radius: 10px 10px 0px 0px;
      cursor: pointer;
      padding-top: 5%;
      box-shadow: 5px 5px 2px #e5e5e5; }
    .restaurants-details:hover .restaurant-heart {
      opacity: 1;
      transform: scale(1.15); }
    .restaurants-details:hover .restaurant-like {
      opacity: 0;
      transform: scale(0);
      transition-property: transform; } }

@media screen and (min-width: 768px) {
  .New {
    height: 15%; }
  .restaurants .restaurant-descritption .restaurant-text {
    font-size: 150%; }
  .restaurant-name {
    padding-top: 0%; }
  .restaurant-like {
    margin-left: 1%; }
  .restaurant-heart {
    margin-left: -25px; } }

@media screen and (min-width: 1440px) {
  .restaurants h1 {
    font-size: 200%; }
  .restaurants .restaurants-details .pic1 {
    height: 250px; }
  .restaurants .restaurants-details .pic2 {
    height: 250px; }
  .restaurants .restaurants-details .pic3 {
    height: 250px; }
  .restaurants .restaurants-details .pic4 {
    height: 250px; }
  .restaurants .resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "R1 R2" "R3 R4"; }
  .New {
    font-size: 150%; } }

@use "../Sass/utiles/colors.scss";
@keyframes wish {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes check-spin {
  0% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(0); } }

@media screen and (min-width: 320px) {
  .contact {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5; }
    .contact .contact_form {
      width: 50%;
      height: 450px;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      border: 1px solid #BABABA;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 4px 4px 0px 0px #BABABA;
      font-family: 'Roboto', sans-serif; }
      .contact .contact_form .button-contact {
        margin-top: 10%;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        background: linear-gradient(0deg, #9356DC, #E054D2);
        border-radius: 50px;
        box-shadow: 5px 5px 2px #e5e5e5;
        cursor: pointer;
        width: 60%; }
        .contact .contact_form .button-contact h2 {
          font-size: 135%;
          font-family: 'Shrikhand';
          font-weight: normal; }
        .contact .contact_form .button-contact:hover {
          opacity: 0.8;
          box-shadow: 5px 5px 2px rgba(199, 199, 199, 0.79); } }

@media screen and (min-width: 1440px) {
  .contact .contact_form .button-contact {
    margin-top: 2%;
    width: 28%; } }

@font-face {
  font-family: 'Shrikhand';
  src: url(images/Shrikhand/OFL.txt) format("truetype");
  src: url(images/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
  font-weight: normal; }

body {
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-top: 0%; }

.loader {
  background-color: white;
  opacity: 1;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 3;
  transform-origin: top;
  display: grid;
  place-items: center;
  animation: wish 500ms 3s forwards; }
  .loader i {
    animation: spin 3s;
    color: transparent;
    background-image: linear-gradient(0deg, #E054D2, #9356DC);
    background-clip: text;
    -webkit-background-clip: text; }
