/*/POLICES/*/
@import "../Sass/utiles/colors.scss";
@import "../Sass/utiles/mixins.scss";
@import "../Sass/utiles/animation.scss";
@import "../Sass/layouts/_filtres.scss";
@import "../Sass/layouts/_footer.scss";
@import "../Sass/layouts/_header.scss";
@import "../Sass/layouts/_menu.scss";
@import "../Sass/layouts/_restocard.scss";

@font-face {
    font-family: 'Shrikhand';
    src: url(images/Shrikhand/OFL.txt) format('truetype');
    src: url(images/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
    font-weight: normal;
}


body{
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;

}
.loader{
    background-color: white;
    opacity: 1;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 3;
    transform-origin: top;
    display: grid;
    place-items: center;
    animation: wish 500ms 3s forwards;
    i{
        animation: spin 3s;
        @include purpletopink;
    }
}

