/*/POLICES/*/
@import "../Sass/utiles/colors.scss";
@import "../Sass/utiles/mixins.scss";
@import "../Sass/utiles/animation.scss";

body{
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
}
header{
    width: 100%;
    height: 60px;
    img{
        height: 50%;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
    }
}
.loader{
    background-color: white;
    opacity: 1;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 3;
    transform-origin: top;
    display: grid;
    place-items: center;
    animation: wish 500ms 3s forwards;
    i{
        animation: spin 3s;
        @include purpletopink;
    }
}

/*/ ACCUEIL /*/
@media screen and (min-width: 320px){
    .search_barre{
        justify-content: center;
        @include flex-center;
        background-color: $darkgrey;
        width: 100%;
        height: 50px;
        form{
            width: 50%;
            height: 100%;
            justify-content: space-around;
            @include flex-center;
        }
        input{
            background-color: transparent;
            border: none;
            color: black;
        }
    }
    .describe{
        background-color: $lightgrey;
        height: 270px;
        @include flex-center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        h1{
            margin-top: 0%;
            padding-top: 10%;
            display: flex;
            margin-left: 10%;
            margin-right: 10%;
        }
        h2{
            font-size: 100%;
            margin-right: auto;
            margin-left: auto;
            display: block;
            font-weight: lighter;
        }
        .button{
            width: 55%;
            .button-title{
                @include btn;
                &:hover {
                    opacity: 0.8;
                    box-shadow: 5px 5px 2px rgba(199,199,199,0.79);
                }
            }
        }
    }
    .menu{
        width: 100%;
        h1{
            margin-left: 5%;
        }
        .service-item{
            @include flex-center;
            margin-left: 6%;
            width: 90%;
            height: 80px;
            background-color: $lightgrey;
            margin-bottom: 5%;
            border-radius: 25px;
            box-shadow: 3px 5px 5px $darkgrey;
            cursor: pointer;
            transform: scale(1);
            transition-duration: 200ms;
        .service-icon{
            color: $iconcolor;
            margin-right: 10%;
            font-size: 110%;
        }
        .num{
            background-color: $purple;
            color: white;
            @include flex-center;
            text-align: center;
            justify-content: center;
            width: 9%;
            height: 40%;
            border-radius: 100%;
            margin-left: -4%;
            margin-right: 10%;
        }
        .service-text{
            font-family: 'Roboto', sans-serif;
            font-size: 110%;
            font-weight: bold;}
        }
    }
    .service-item:hover > .service-icon{
        color: $purple;
    }
    .service-item:hover{
        background-color: $lightpurple;
        transform: scale(1.05);
    }
    .restaurants{
        background-color: $lightgrey;
        width: 100%;
        height: 1300px;
        display: flex;
        flex-direction: column;
        h1{
            margin-left: 5%;
            font-family: 'Roboto', sans-serif;
        }
        .restaurant-descritption{
            font-family: 'Robtot', sans-serif;
            background-color: white;
            width: 90%;
            @include flex-center;
            height: 25%;
            margin-top: 0%;
            margin-left: 5%;
            margin-bottom: 5%;
            border-radius: 0px 0px 10px 10px;
            @include shadow-box;
            cursor: pointer;
            .restaurant-text{
                width: 70%;
                margin-left: 5%;
                .restaurant-name{
                    font-weight: bold;
                    margin-bottom: 2%;
                    padding-top: 5%;
                }
                .restaurant-loc{
                    margin-top: 0%;
                }
            }
        }
    }
    .New{
        color: $newgreen;
        background-color: $mindgreen;
        width: 25%;
        @include flex-center;
        justify-content: center;
        margin-left: 70%;
        margin-top: 0%;

    }
    .restaurant-like{
        font-size: 150%;
        margin-left: 10%;
        opacity: 1;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 400ms;

    }
    .restaurant-heart{
        font-size: 150%;
        margin-left: -6.5%;
        @include purpletopink;
        opacity: 0;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 400ms;
    }
    .restaurant-link{
        text-decoration: none;
        color: black;
        margin-top: 0%;
    }
    .restaurants-details{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        .pic1{
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            @include pic-details;
            @include shadow-box;
        }
        .pic2{
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            @include pic-details;
            @include shadow-box;
        }
        .pic3{
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            @include pic-details;
            @include shadow-box;
        }
        .pic4{
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            @include pic-details;
            @include shadow-box;
        }
        &:hover .restaurant-heart{
            opacity: 1;
            transform: scale(1.15);
        }
        &:hover .restaurant-like{
            opacity: 0;
            transform: scale(0);
            transition-property: transform;
        }
    }
    .foot-page{
        background-color: $footergrey;
        width: 100%;
        height: 230px;
        color: white;
        .foot-title{
            margin-left: 5%;
            margin-top: 0%;
            padding-top: 5%;
            font-family: 'Shrikhand', cursif ;
        }
        ul {
            list-style-type: none;
            text-decoration: none;
            list-style: none;
            list-style-image: none;
            margin-left: -5%;
            a{
                list-style: none;
                text-decoration: none;
                color: white;
                font-family: 'Roboto', sans-serif;
                }
        }
    }
    .foot-icon{
        width: 90%;
        height: 30px;
        display: flex;
        margin-left: 5%;
        align-items: center;
        .icon{
            display: flex;
            align-items: center;
            width: 5%;
            margin-left: 5%;
        }
    }
    .list2 {
        height: 30px;
        display: flex;
        align-items: center;
        margin-left: 5%;
    }
    // MENU //
    header{
        @include flex-center;
        flex-direction: row-reverse;
        .backM{
            text-decoration: none;
            color: black;
            margin-left: 5%;
            .fleche{
            font-size: 140%;
            margin-left: 5%;
            }
        }
    }
    .Menu{
        width: 100%;
        min-height: 1350px;
        .restaurant-pic{
            width: 100%;
            height: 200px;
        }
        .Mpic1{
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            @include pic-menu;
        }
        .Mpic2{
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            @include pic-menu;
        }
        .Mpic3{
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            @include pic-menu;
        }
        .Mpic4{
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            @include pic-menu;
        }
        .restaurant-bloc{
            background-color: $lightgrey;
            border-radius: 10px 10px 0px 0px ;
            font-family: 'Roboto', sans-serif;
            min-height: 1350px;
            padding-bottom: 2%;
            &:hover .menu-heart{
                opacity: 1;
                transform: scale(1.15);
            }
        }
        .restaurant-title{
            @include flex-center;
            margin-left: 5%;
            width: 95%;
            justify-content: space-around;
            font-style: italic;
            font-weight: bold;
            font-size: 120%;
            cursor: pointer;
            .heart{
                font-size: 120%;
                .menu-like{
                    margin-left: 20%;
                    opacity: 1;
                    transform: scale(1);
                    transition-property: transform;
                    transition-duration: 400ms;
                    }
                .menu-heart{
                    margin-left: -55%;
                    @include purpletopink;
                    opacity: 0;
                    transform: scale(1);
                    transition-property: transform;
                    transition-duration: 400ms;
                    }
                }
            &:hover .menu-heart{
                opacity: 1;
                transform: scale(1.15);
            }
            &:hover .menu-like{
                opacity: 0;
                transform: scale(0);
                transition-property: transform;
            }
        }
        .food-box{
            @include flex-center;
            background-color: white;
            justify-content: space-between;
            margin-bottom: 5%;
            width: 90%;
            height: 90px;
            border-radius: 15px;
            margin-left: 5%;
            @include shadow-box;
            cursor: pointer;
            overflow: hidden;
            transform: scale(1);
            transition-property: transform;
            transition-duration: 1s;
            animation: appear 3s;
            .food-description{
                margin-left: 5%;
                width: 70%;
                margin-right: 0%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .food-name{
                font-weight: bold;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .food-ingredients{
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .food-price{
                font-weight: bold;
                margin-right: 5%;
                margin-left: 70%;
                transition-duration: 2s;
            }
            .food-priceandcheck{
                display: flex;
                height: 100%;
                align-items: flex-end;
                width: 30%;
                .check{
                    @include flex-center;
                    height: 100%;
                    width: 5rem;
                    background-color: $mindgreen;
                    color: white;
                    border-radius: 0px 10px 10px 0px;
                    justify-content: center;
                    font-size: 130%;
                }
            }
            &:hover .food-priceandcheck{
                width: 30%;
            }
            &:hover .food-price{
                margin-left: 0%;
            }
        }
        .plat-title{
            font-weight: lighter;
            text-transform: uppercase;
            margin-left: 5%;
            border-bottom: 4px $mindgreen solid;
            width: 15%;
        }
        .menu-button{
            @include btn;
            margin-bottom: 10%;
            margin-left: 15%;
            margin-right: 15%;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header{
        height: 100px;
    }
    .Espace-recherche{
        font-size: 130%;
        font-weight: bold;
    }
    .button{
        width: 100%;
        height: 100%;
        display: flex;
        .button-title{
            width: 80%;
        }
    }
    .filtre{
        display: flex;
        justify-content: space-around;
        .service-item{
            width: 30%;
            margin-left: 0%;
            .num{
                width: 18%;
            }
            .service-text{
                text-align: center;
                margin-left: -10%;
            }
        }
    }
    .New{
        height: 15%;
    }
    .restaurants{
        height: 1600px;
    }
        .restaurants .restaurant-descritption .restaurant-text .restaurant-name{
            padding-top: 0%;
        }
        .restaurant-text{
            font-size: 150%;
        }
    .restaurant-like{
        margin-left: 1%;
    }
    .restaurant-heart{
        margin-left: -25px;
    }
    .Menu .menu-button{
        width: 40%;
        margin-left: 30%;
    }
    .Menu .food-box{
        width: 66%;
        margin-left: 17%;
        margin-right: 17%;
        .food-description{
            font-size: 130%;
        }
        .food-priceandcheck{
            width: 22%;
            margin-left: 5%;
        }
    }
    .restaurant-title h1{
        font-size: 160%;
        margin-left: 15%;
    }
}
@media screen and (min-width: 1020px) {
    .describe{
        h1{
        padding-top: 2%;
        }
        .button{
            width: 40%;
            .button-title{
                width: 50%;
            }
        }
    }
    .filtre .service-item .num{
        width: 11%;
    }
    .restaurants{
        height: 1650px;
    }
    .Menu{
        .food-box{
            .food-price{
                margin-left: 75%;
            }
            .food-priceandcheck{
                margin-left: 0%;
                width: 17%;
            }
            &:hover .food-priceandcheck{
                width: 17%;
            }
        }
        .menu-button{
            width: 31%;
            margin-left: 34%;
        }
    }
    .foot-icon{
        margin-left: 0%;
    }
}
@media screen and (min-width: 1440px){
    header{
        height: 200px;
    }
    .search_barre{
        height: 100px;
        font-size: 200%;
    }
    .describe{
        height: 290px;
        h1{
            padding-top: 1%;
            font-size: 220%;
        }
        h2{
            font-size: 200%;
        }
        .button .button-title {
            height: 50%;
            width: 75%;
            margin-top: 1%;
            font-size: 200%;
        }
    }
    .menu h1{
        font-size: 200%;
    }
    .filtre .service-item{
        height: 100px;
        font-size: 130%;
        .num {
            height: 100%;
            width: 25%;
            font-size: 150%;
            font-weight: bold;
        }
        .service-text{
            margin-left: -3%;
        }
    }
    .restaurants{
        height: 1000px;
        h1{
            font-size: 200%;
        }
    }
    .New{
        font-size: 150%;
    }
    .restaurants-details .pic1{
        height: 250px;
    }
    .restaurants-details .pic2 {
        height: 250px;
    }
    .restaurants-details .pic3{
        height: 250px;
    }
    .restaurants-details .pic4{
        height: 250px;
    }
    .resto{
        display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                "R1 R2"
                "R3 R4";

    }
    .foot-page .foot-title{
        padding-top: 1%;
        margin-left: 5%;
    }
    .foot-icon{
        margin-left: 0%;
    }
    .list2{
        margin-left: 7%;
    }
    .restaurant-title h1{
        margin-left: 25%;
        font-size: 200%;
    }
    .restaurant-menu{
        display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "starter course dessert";
    }
    .Menu{
        min-height: 860px;
        .restaurant-bloc{
            min-height: 790px;
            padding-bottom: 0%;
        }
        .menu-button{
            height: 54px;
            margin-top: 3%;
            margin-bottom: 3%;
            width: 20%;
            margin-left: 40%;
        }
        .food-box{
            .food-price{
            margin-left: 66%;
            }
            .food-priceandcheck{
                margin-left: 3%;
                width: 30%;
                .check{
                    width: 6rem;
                }
            }
            &:hover .food-priceandcheck{
                width: 30%;
            }
        }
        .restaurant-pic{
            height: 300px;
        }
    }

}
@media screen and (min-width:1920px){
    .filtre .service-item .num{
        width: 18%;
    }
    .Menu .food-box .food-price{
        margin-left: 72%;
    }
}
