@import "Sass/utiles/colors.scss";
@import "Sass/utiles/mixins.scss";
@import "Sass/utiles/animation.scss";

.filtre{
    width: 95%;
    margin-right: 5%;
    counter-reset: functions;
    h2{
        margin-left: 5%;
    }
    ol{
        display: flex;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
    }
    li{
        &::before {
            content: "" counter(functions);
            counter-increment: functions;
            color: white;
            background-color: $purple;
            display: grid;
            place-items: center;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            position: absolute;
            bottom: 1rem;
            left: -1rem;
        }
        margin-left: 5%;
        position: relative;
        list-style-type: none;
        background-color: $lightgrey;
        padding: 1rem 2rem;
        font-size: 120% ;
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        height: 34px;
        width: 30%;
        transform: scale(1);
        transition: 2s;
        @include shadow-box;
        cursor: pointer;
        &:hover {
            background-color: $lightpurple;
            transform: scale(1.15);
        }
        &:hover >i{
            color: $purple;
        }
        i{
            margin-right: 10%;
            color: $iconcolor;
        }
    }
}
@media screen and (max-width: 768px) {
    .filtre{
        ol{
            flex-direction: column;
        }
        li{
            font-size: 110%;
            width: 70%;
        }
    }
}